@media (max-width: 1024px){
   .main{
      grid-template-areas: 
      "info-topo"
      "img"
      "informacoes"
      ;
   }
   
 .info-topo{
   margin-bottom: 7.1%;
   font-size: 24px;
   }

   .info-topo h2{
      font-size: 88px;
   }

   .img{
      display: flex;
      justify-content: center;
      margin-bottom: 6%;
   }

   .img-loki-mini{
      height: 333px;
   }

   .informacoes{
      font-size: 20px;
      padding: 0;
      margin: 1%;
   }

   .tempoEstrelas{
      gap: 32px;
   }

   .classificacao{
      width: 24px;
      height: 24px;
   }
   
   .bnt{
      justify-content: center; 
   }
}

@media (max-width:600px) {
   .main{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
   }

   .info-topo{
      margin-top: 13%;
      font-size: 18px;
      margin-bottom: 0;
   }

   .info-topo{
      font-size: 48px;
   }

   .img{
      display: none;
      margin-bottom: 0;
   }
   .informacoes{
      background-color: var(--dark-10);
      padding: 32px;
      border-radius: 16px 16px 0px 0px;
      font-size: 16px;
      margin: 0;
   }

   .bnt{
      flex-direction: column;
   }   

   .button{
      width: 100%;
      text-align: center;
   } 

   }